arrow==0.15.6
biopython==1.76
bz2file==0.98
ConfigArgParse==1.2.3
gensim==3.8.3
Logbook==1.5.3
numpy==1.18.1
pep8==1.7.1
pluggy==0.13.1
py==1.8.1
pytest==5.4.2
python-dateutil==2.8.1
requests==2.23.0
six==1.14.0
smart-open==2.0.0
tox==3.15.0
tox-pyenv==1.1.0
virtualenv==20.0.20
